body {
  font-family: 'Poppins', sans-serif;
}

.entry-content {
  background-color: #0e0a2a;
}

.card img {
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-title {
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.badge {
  margin-right: 10px;
}

@media (max-width: 810px) {
  .card-title {
    font-size: 22px;
  }
}